## Settings file was created by plugin 7Bpencil.WeaponCamoAndStickers v1.14.1
## Plugin GUID: 7Bpencil.WeaponCamoAndStickers

[Main]

# Setting type: Boolean
# Default value: false
Video | Play Audio = false

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.5 to 2
Camo Editor | UI Scale = 1

# Setting type: KeyboardShortcut
# Default value: G
Camo Editor | Keybinds | Move = W

# Setting type: KeyboardShortcut
# Default value: R
Camo Editor | Keybinds | Rotate = E

# Setting type: KeyboardShortcut
# Default value: S
Camo Editor | Keybinds | Scale = R

# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 100
Raid | Camo Spawn Chance | Goons = 100

# Setting type: Int32
# Default value: 33
# Acceptable value range: From 0 to 100
Raid | Camo Spawn Chance | PMC = 33

# Setting type: Int32
# Default value: 50
# Acceptable value range: From 0 to 100
Raid | Camo Spawn Chance | Other Bosses = 50

# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 100
Raid | Camo Spawn Chance | Scavs = 0

