## Settings file was created by plugin 7Bpencil.ReduceFakeInteriorShadow v1.0.1
## Plugin GUID: 7Bpencil.ReduceFakeInteriorShadow

[Main]

## 0 is disabled, 1 is original
# Setting type: Single
# Default value: 0.25
# Acceptable value range: From 0 to 1
Shadow Opacity = 0.7511737

