## Settings file was created by plugin 7Bpencil.TransparentSights v0.2.1
## Plugin GUID: 7Bpencil.TransparentSights

[Depth of Field]

# Setting type: Single
# Default value: 0.94
# Acceptable value range: From 0 to 10
Blur Size = 0.94

# Setting type: Single
# Default value: 7.418873
# Acceptable value range: From 0 to 10
Blur Size in Optic = 7.418873

[Depth of Field Advanced]

# Setting type: BlurSampleCount
# Default value: High
# Acceptable values: Low, Medium, High
Blur Quality = High

# Setting type: Single
# Default value: 4
# Acceptable value range: From 0 to 50
Aperture = 4

# Setting type: Single
# Default value: 1.53
# Acceptable value range: From 0 to 100
Focal Length = 1.53

# Setting type: Single
# Default value: 0.61
# Acceptable value range: From 0 to 10
Focal Size = 0.61

# Setting type: Single
# Default value: 2.63
# Acceptable value range: From 0 to 10
Foreground Overlap = 2.63

[General]

# Setting type: Boolean
# Default value: false
Make entire weapon transparent = false

# Setting type: Boolean
# Default value: false
Disable transparency in optics = true

# Setting type: Boolean
# Default value: true
Blur transparent sights = true

