## Settings file was created by plugin 7Bpencil.ChangeVersionLabel v1.1.0
## Plugin GUID: 7Bpencil.ChangeVersionLabel

[Main]

# Setting type: String
# Default value: Hello World!
Version Label Value = PROJECT PANDORA

