## Settings file was created by plugin QuickSellFlea v1.3.1
## Plugin GUID: com.lacyway.csf

[QuickSellFlea]

## The key held to show the quick sell interaction
# Setting type: KeyboardShortcut
# Default value: LeftControl
Hotkey = LeftControl

## Whether to show the listing price in the tooltip, otherwise the total sell value (of all items in the stack, if stackable)
# Setting type: Boolean
# Default value: false
Show Listing Price = false

## Whether to flea posting limits should be ignored
# Setting type: Boolean
# Default value: false
Bypass Limit = false

## Disables vanilla blinking effect when waiting for the callback from the server.
## Enabled by default to bypass a bug in the SPT server where aforementioned callback sometimes never triggers, leaving some items blinking infinitely
# Setting type: Boolean
# Default value: true
Skip Mode = true

## The currency to post the listings in
# Setting type: EPostingCurrency
# Default value: RUB
# Acceptable values: RUB, USD, EUR
Posting Currency = RUB

## The key used to quickly change posting currency
# Setting type: KeyboardShortcut
# Default value: Insert
Change Currency Key = Insert

