## Settings file was created by plugin SmajlecStamina v1.3.0
## Plugin GUID: com.smajlec.stamina

[Main]

## Running speed when stamina is depleted
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0.55 to 1
Jog Speed = 0.6

## Time needed to start regenerating stamina after sprinting
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0.1 to 1
Sprint Downtime = 0.1

## Disable Fatigue effect when exhausted
# Setting type: Boolean
# Default value: false
Disable Fatigue = true

[Require Stamina]

## Require green stamina for jumping
# Setting type: Boolean
# Default value: false
Jump = false

## Require green stamina for vaulting
# Setting type: Boolean
# Default value: false
Vault = false

