## Settings file was created by plugin Magazine Check Interrupt v1.1.0
## Plugin GUID: com.ozen.magcheckinterrupt

[Ammo Details]

## If enabled, the ammo details UI follows the magazine
# Setting type: Boolean
# Default value: true
Follows Magazine = false

# Setting type: Single
# Default value: -0.02
Position Offset X = -0.02

# Setting type: Single
# Default value: 0.075
Position Offset Y = 0.075

# Setting type: Single
# Default value: -0.01
Position Offset Z = -0.01

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.0001 to 2
Scale = 1

[General]

## Special case for when reload and mag check keybinds are conflicting
# Setting type: EReloadMode
# Default value: Press
# Acceptable values: Press, Release
Reload Mode = Press

[Reload Window]

## How early you can reload during the magazine check animation, in normalized time
# Setting type: Single
# Default value: 0.23
# Acceptable value range: From 0 to 1
Start = 0.23

## How late you can reload during the magazine check animation, in normalized time
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 1
End = 0.6

[Slow Animation]

## Slow down the magazine check animation for a certain time
# Setting type: Boolean
# Default value: true
Enable = true

## Multiplier for the magazine check animation speed when Slow Animation is enabled
# Setting type: Single
# Default value: 0.25
# Acceptable value range: From 0.01 to 1
Slow Percentage = 0.25

## When to start slowing down the magazine check animation, in normalized time
# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 1
Start = 0.3

## When to restore speed of the magazine check animation, in normalized time
# Setting type: Single
# Default value: 0.4
# Acceptable value range: From 0 to 1
End = 0.4

## Max delta for the smoothing of the slow animation. A higher value slows/restores the animation faster
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0.01 to 10
Smoothing Max Delta = 2

