## Settings file was created by plugin HolsterEverything v1.3.1
## Plugin GUID: com.alanyung-yl.holstereverything.f12config

[General (Restart Server)]

## When true, all weapon categories can be equipped in the holster slot.
# Setting type: Boolean
# Default value: true
Enable All Weapons = true

[Holster Handling (Apply Immediately)]

## When true, an eligible holstered weapon reduces the ergonomics of the firearm currently in hands.
# Setting type: Boolean
# Default value: false
Enable Handling Penalty = true

## When true, the handling penalty only applies to additional holster weapon categories.
# Setting type: Boolean
# Default value: true
Limit Additional Weapons Only = true

## Ergonomics penalty applied while an eligible holstered weapon would interfere with handling.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 90
Handling Ergo Penalty = 10

## When true, non-foldable holstered weapons can also trigger the handling penalty.
# Setting type: Boolean
# Default value: false
Include Non-Foldable Weapons = false

[Holster Size (Apply Immediately)]

## When true, oversized weapons are blocked from being dropped into the holster slot.
# Setting type: Boolean
# Default value: false
Enable Size Limit = true

## When true, the size limit does not apply to vanilla holster weapons.
# Setting type: Boolean
# Default value: true
Limit Additional Weapons Only = true

## When true, folded weapons are checked using their unfolded size.
# Setting type: Boolean
# Default value: false
Use Unfolded Size = false

## Maximum holster weapon width when Enable Size Limit is on.
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 10
Max Holster Width = 3

## Maximum holster weapon height when Enable Size Limit is on.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 10
Max Holster Height = 3

[Weapon Categories (Restart Server)]

## When true, allows Assault Carbine weapons in the holster when Enable All Weapons is off.
# Setting type: Boolean
# Default value: false
Assault Carbine = false

## When true, allows Assault Rifle weapons in the holster when Enable All Weapons is off.
# Setting type: Boolean
# Default value: false
Assault Rifle = false

## When true, allows Grenade Launcher weapons in the holster when Enable All Weapons is off.
# Setting type: Boolean
# Default value: false
Grenade Launcher = false

## When true, allows Machine Gun weapons in the holster when Enable All Weapons is off.
# Setting type: Boolean
# Default value: false
Machine Gun = false

## When true, allows Marksman Rifle weapons in the holster when Enable All Weapons is off.
# Setting type: Boolean
# Default value: false
Marksman Rifle = false

## When true, allows Rocket Launcher weapons in the holster when Enable All Weapons is off.
# Setting type: Boolean
# Default value: false
Rocket Launcher = false

## When true, allows Shotgun weapons in the holster when Enable All Weapons is off.
# Setting type: Boolean
# Default value: false
Shotgun = false

## When true, allows SMG weapons in the holster when Enable All Weapons is off.
# Setting type: Boolean
# Default value: false
SMG = false

## When true, allows Sniper Rifle weapons in the holster when Enable All Weapons is off.
# Setting type: Boolean
# Default value: false
Sniper Rifle = false

## When true, allows Special Weapon weapons in the holster when Enable All Weapons is off.
# Setting type: Boolean
# Default value: false
Special Weapon = false

