## Settings file was created by plugin CloseMenuOnDamage v1.0.3
## Plugin GUID: com.redlaser42.CloseMenuOnDamage

[General]

## Activates the plugin.
# Setting type: Boolean
# Default value: true
Enabled = true

