## Settings file was created by plugin Continuous Load Ammo v1.1.5
## Plugin GUID: com.ozen.continuousloadammo

[General]

## The speed limit, as a percentage of the walk speed, set to the player while loading ammo
# Setting type: Single
# Default value: 0.45
# Acceptable value range: From 0 to 1
Speed Limit = 0.6518779

## Allow loading ammo outside the inventory only when Magazine and Ammo is in your Vest, Pockets, or Secure Container
# Setting type: Boolean
# Default value: true
Reachable Places Only = true

## Do not interrupt loading ammo when switching inventory tabs (maps tab, tasks tab, etc.)
# Setting type: Boolean
# Default value: true
Inventory Tabs = true

## Fallback to quick load if magazine preset is unavailable
# Setting type: Boolean
# Default value: true
Mag Preset Fallback = true

[Quick Load]

## Key used to load ammo outside the inventory
# Setting type: KeyboardShortcut
# Default value: K
Hotkey = K

## Highest Penetration Available - choose ammo that has the highest penetration power.
## Last Bullet in Magazine - prioritize the last ammo of the current weapon's magazine.
## Last Used Magazine Preset - load the last used magazine preset
# Setting type: QuickLoadMode
# Default value: LastMagazinePreset
# Acceptable values: HighestPenetrationAvailable, LastBulletMagazine, LastMagazinePreset
Mode = LastMagazinePreset

## When using Quick Load, notify the player of the ammo being loaded
# Setting type: Boolean
# Default value: true
Notify = false

