## Settings file was created by plugin MusicExtender v1.0.0
## Plugin GUID: com.harmonyzt.MusicExtender

[Music]

## REQUIRES RESTART. When enabled, only custom music will play. When disabled, custom music is mixed with the vanilla music.
# Setting type: Boolean
# Default value: false
CustomOnly = true

