## Settings file was created by plugin desze-Inventory Tabs Hotkey v1.3.0
## Plugin GUID: com.desze.invtabshotkey

[General]

## If disabled, the mod won't do anything while you're in the main menu (it will still work normally in raid).
# Setting type: Boolean
# Default value: true
Enable In Main Menu = true

[Hotkeys]

## Moves to the next inventory tab.
# Setting type: KeyboardShortcut
# Default value: E
Next Tab = X

## Moves to the previous inventory tab.
# Setting type: KeyboardShortcut
# Default value: Q
Previous Tab = Z

[Jump To Tab]

## Jumps directly to the Overall tab.
# Setting type: KeyboardShortcut
# Default value: C
Overall Tab = None

## Jumps directly to the Gear tab.
# Setting type: KeyboardShortcut
# Default value: G
Gear Tab = None

## Jumps directly to the Health tab.
# Setting type: KeyboardShortcut
# Default value: R
Health Tab = None

## Jumps directly to the Skills tab.
# Setting type: KeyboardShortcut
# Default value: J
Skills Tab = None

## Jumps directly to the Map tab.
# Setting type: KeyboardShortcut
# Default value: M
Map Tab = None

## Jumps directly to the Tasks tab.
# Setting type: KeyboardShortcut
# Default value: T
Tasks Tab = None

## Jumps directly to the Achievements tab.
# Setting type: KeyboardShortcut
# Default value: K
Achievements Tab = None

## Jumps directly to the Prestige tab.
# Setting type: KeyboardShortcut
# Default value: L
Prestige Tab = None

