## Settings file was created by plugin Tyfon.WeaponCustomizer v3.0.3
## Plugin GUID: com.tyfon.weaponcustomizer

[General]

## When to enable the customization of weapons in raid
# Setting type: ModRaidWeapon
# Default value: Never
# Acceptable values: Never, WithTool, Always
Customize Weapons In Raid = Never

## Moves attachments in discrete step intervals. Use 0 for smooth motion.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 20
Step Size = 2

## Rotate attachments in steps by degrees. Use 0 for smooth rotation.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 90
Rotation Angle = 5

## Allow every part of the gun to be moved. Doesn't make sense, is silly, have fun.
# Setting type: Boolean
# Default value: false
Move Everything = false

