## Settings file was created by plugin BringBackConcussion v1.0.4
## Plugin GUID: com.harmonyzt.BringBackConcussion

[Audio]

## Enable/Disable visor/helmet hit sound effect upon death from headshot
# Setting type: Boolean
# Default value: true
Enable Death Headshot Sound = false

## Enable/Disable death UI sound
# Setting type: Boolean
# Default value: true
Enable Death UI Sound = false

## If disabled, will not use random range for sounds to pick and just use one sound
# Setting type: Boolean
# Default value: true
Use More Random Helmet Hit Sounds = true

[General]

## Determines the strength of concussion effect
# Setting type: Single
# Default value: 0.75
# Acceptable value range: From 0.3 to 1
Concussion Strength = 0.45

## Determines how long the concussion lasts in seconds
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 1 to 120
Concussion Duration = 3

## Enable/Disable tinnitus effect (tinnitus only occurs if no headset is equipped). To completely disable tinnitus, make sure you have Always Mitigate Tinnitus Effect checked
# Setting type: Boolean
# Default value: false
Tinnitus Effect = true

[Misc]

## If enabled, tinnitus will play even if you have headset equipped. Overrides Tinnitus Effect setting when enabled.
# Setting type: Boolean
# Default value: false
Ignore Tinnitus Equipment Checks = false

## Enable/Disable concussion by frag grenades. If disabled, will only use default BSG's logic for concussion from frag grenades
# Setting type: Boolean
# Default value: true
Frag Grenades Always Concuss = true

## Enable/Disable blindness by frag grenades
# Setting type: Boolean
# Default value: false
Frag Grenades Blinds You = false

## Enable/Disable strength of the blindness (very sensitive!)
# Setting type: Single
# Default value: 0.75
# Acceptable value range: From 0.1 to 2
Frag Grenade Blindness Strength = 0.75

## Enable/Disable blindness by headshots
# Setting type: Boolean
# Default value: false
Headshots Blinds You = true

## Enable/Disable strength of the blindness upon receiving headshot (very sensitive!)
# Setting type: Single
# Default value: 0.85
# Acceptable value range: From 0.1 to 1.5
Headshot Blindness Strength = 0.85

## Enable/Disable mitigation of tinnitus effect playing at all costs if you get flashed and contused at the same time
# Setting type: Boolean
# Default value: true
Always Mitigate Tinnitus Effect = true

