## Settings file was created by plugin acidphantasm-bepinexconfigurationmanager v1.0.0
## Plugin GUID: com.acidphantasm.bepinexconfigurationmanager

[UI]

## Scale applied to the Configuration Manager window
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.75 to 3
Scale = 1

## Reset the window size to default - this is always false, it's a fake button
# Setting type: Boolean
# Default value: false
Reset Window Size = false

## Not visible, if you see this you're breaking my heart
# Setting type: Single
# Default value: -1
Window Width = 1273

## Not visible, if you see this you're breaking my heart
# Setting type: Single
# Default value: -1
Window Height = 1003

