## Settings file was created by plugin BarterItemsStacksClient v1.4.1
## Plugin GUID: com.slpf.barteritemsstacks

[FiR & non-FiR stacking (behavior may be unpredictable)]

## Allows you to stack FiR and non-FiR barter items.
# Setting type: Boolean
# Default value: false
Barter items = false

## Allows you to stack FiR and non-FiR medical items.
# Setting type: Boolean
# Default value: false
Medical items = false

## Allows you to stack FiR and non-FiR food/drink items.
# Setting type: Boolean
# Default value: false
Food/Drink items = false

## Allows you to stack FiR and non-FiR repair kit items.
# Setting type: Boolean
# Default value: false
Repair kit items = false

