## Settings file was created by plugin Manimal's Quick Cancel v2.0.0
## Plugin GUID: com.manimal.quickcancel

[General]

## Allow the in-game Quick Reload command (double-tap R by default) to drop and immediately cancel an active consumable.
# Setting type: Boolean
# Default value: true
Enabled = true

