## Settings file was created by plugin UniversalCoopExfil v1.0.1
## Plugin GUID: com.minesettimi.coopexfil

[Coop Exfil Settings]

## If enabled, the exfil point will stay open after the conditions are first met.
# Setting type: Boolean
# Default value: true
Sticky Access = true

