## Settings file was created by plugin doordash v1.1.1
## Plugin GUID: com.tarkin.doordash

[]

# Setting type: Boolean
# Default value: true
Enabled = true

[Logic]

# Setting type: Boolean
# Default value: false
Breach Locked = false

[Physical Door]

# Setting type: Single
# Default value: 0.01
Chance To Dislodge On Breach = 0.01

# Setting type: Single
# Default value: 10
Dislodge Force = 10

[Player Effect]

# Setting type: Single
# Default value: 10
Health Damage = 0

# Setting type: Single
# Default value: 2
LockedBreachDamageMultiplier = 2

# Setting type: Single
# Default value: 0.5
Contusion Time = 0.5

# Setting type: Single
# Default value: 0.5
Contusion Strength = 0.5

# Setting type: Single
# Default value: 2
Recoil Hands = 2

# Setting type: Single
# Default value: 4
Recoil Camera = 4

# Setting type: Boolean
# Default value: true
Burn Stamina = true

# Setting type: EBodyPart
# Default value: LeftArm
# Acceptable values: Head, Chest, Stomach, LeftArm, RightArm, LeftLeg, RightLeg, Common
BodyPartToHurt = LeftArm

[Sprint Ram]

# Setting type: Single
# Default value: 20
Velocity Threshold = 20

# Setting type: Single
# Default value: 0.7
Ray Distance = 0.7

