## Settings file was created by plugin Foldables v1.1.1
## Plugin GUID: com.ozen.foldables

[Experimental]

## Enable folding/unfolding while dragging an item using a hotkey
# Setting type: Boolean
# Default value: false
Fold While Dragging = false

## Key used to fold/unfold while dragging
# Setting type: KeyboardShortcut
# Default value: None
Dragging Hotkey = 

[General]

## Allow folding while gear is equipped
# Setting type: Boolean
# Default value: true
Fold While Equipped = false

## Confirm if player wants to spill non empty container items, if possible. If disabled, always spill items without asking
# Setting type: Boolean
# Default value: true
Spill Confirmation = true

