## Settings file was created by plugin Make Meds Great Again! v1.2.5
## Plugin GUID: com.vinihns.makeMedsGreatAgain

[Config]

## Allows the player to walk while performing surgical treatments.
# Setting type: Boolean
# Default value: true
Can walk in surgery = true

## Allows sprinting while using meds—because pain can't always slow you down.
# Setting type: Boolean
# Default value: true
Can sprint using meds = true

