## Settings file was created by plugin MagCheckInterrupt v1.0.2
## Plugin GUID: com.ozen.magcheckinterrupt

[]

## This is displayed when a Fika Client is using the Host's config
# Setting type: Boolean
# Default value: false
FikaHostConfig = false

[General]

## Special case for when reload and mag check keybinds are conflicting
# Setting type: EReloadMode
# Default value: Press
# Acceptable values: Press, Release
Reload Mode = Press

## How early you can reload during the magazine check animation, in normalized time
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 1
Reload Window Start = 0.1

## How late you can reload during the magazine check animation, in normalized time
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 1
Reload Window End = 0.6

[Slow Animation]

## Slow down the magazine check animation for a certain time
# Setting type: Boolean
# Default value: true
Enable = true

## Multiplier for the magazine check animation speed when Slow Animation is enabled
# Setting type: Single
# Default value: 0.25
# Acceptable value range: From 0.01 to 1
Slow Percentage = 0.25

## When to start slowing down the magazine check animation, in normalized time
# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 1
Start = 0.3

## When to restore speed of the magazine check animation, in normalized time
# Setting type: Single
# Default value: 0.4
# Acceptable value range: From 0 to 1
End = 0.4

## Max delta for the smoothing of the slow animation. A higher value slows/restores the animation faster
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0.01 to 10
Smoothing Max Delta = 2

