## Settings file was created by plugin inory-agonysfx v1.2.0
## Plugin GUID: com.inory.agonysfx

[]

## Chance of playing the agony sound effects
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Agony Sound Chance = 0.1984668

[Debug]

## Enable debug logs
# Setting type: Boolean
# Default value: false
Debug = false

