## Settings file was created by plugin Grenade Instinct v1.0.0
## Plugin GUID: com.metalheadtwink.grenadeinstinct

[General]

## Toggle the grenade direction compass HUD on or off.
# Setting type: Boolean
# Default value: true
Mod Enabled = true

