## Settings file was created by plugin Manimal-Deadzone v1.2.0
## Plugin GUID: com.manimal.deadzone

[Defaults]

## Will deadzone be enabled
# Setting type: Boolean
# Default value: true
Default deadzone enabled = true

## How far back will the deadzone pivot
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From -1 to 1
Default deadzone pivot = 0.1

## How fast will the gun move (less = slower)
# Setting type: Single
# Default value: 0.25
# Acceptable value range: From 0 to 2
Default deadzone sensitivity = 0.08

## How much will the gun be able to move (degrees)
# Setting type: Single
# Default value: 5
# Acceptable value range: From 0 to 45
Default max deadzone angle = 2.5

## How much deadzone will there be while aiming (0 = none)
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Default aiming deadzone multiplier = 0

[Values]

## Will deadzone be enabled for any group
# Setting type: Boolean
# Default value: true
Global deadzone enabled = true

