## Settings file was created by plugin Active Combat Revive v1.1.0
## Plugin GUID: com.penteona.activecombatrevive

[1. General]

## Allow a haemostatic or tourniquet to be applied to a downed teammate, freezing their bleedout timer until surgery is performed.
# Setting type: Boolean
# Default value: true
Allow Stabilizing = true

Surgery Skill Affects Speed = true

Surgery Time Override = 0

[2. Items]

Surgery Kit Template Ids = 5d02778e86f774203e7dedbe,5d02797c86f774203f38e30a

Stabilize Template Ids = 60098af40accd37ef2175f27,5e831507ea0a7c419c2f9bd9,5e8488fa988a8701445df1e4

[3. Interruption]

Cancel On Damage = true

Max Move Distance = 0.75

Consume Kit On Late Interrupt = true

