## Settings file was created by plugin MusicExtender v1.1.0
## Plugin GUID: com.harmonyzt.MusicExtender

[Music]

## REQUIRES RESTART. When enabled, only custom music will play. When disabled, custom music is mixed with the vanilla music.
# Setting type: Boolean
# Default value: false
Custom Music Only = true

## Will keep playing music once you enter hideout.
# Setting type: Boolean
# Default value: false
Play in Hideout = false

CustomOnly = true

PlayInHideout = true

