## Settings file was created by plugin Dynamic Item Weights v1.1.0
## Plugin GUID: de.tosox.dynamicitemweights

[General]

## Untick to disable dynamic item weights
# Setting type: Boolean
# Default value: true
Enable Plugin = true

[Tuning]

## Fallback empty weight as fraction of original weight
# Setting type: Single
# Default value: 0.125
Default Empty Fraction = 0.125

