## Settings file was created by plugin hazelify.StanceSync v1.1.1
## Plugin GUID: hazelify.StanceSync

[Core]

## If leaning left, should the character automatically shoulder swap?
# Setting type: Boolean
# Default value: true
Sync leaning with shoulder swapping? = true

## If no longer leaning left, should the character automatically reset the shoulder swap?
# Setting type: Boolean
# Default value: true
Sync leaning reset? = true

## If aiming down sights, disable synchronized leaning completely.
# Setting type: Boolean
# Default value: false
Disable synced lean while aiming? = false

## If aiming down sights, only disable synchronized leaning while aiming with a magnified optic.All other optics, such as red dots, collimators, or iron sights will allow synchronized leaning.
## 
## This will override `Disable synced lean while aiming?`. If you want to disable synchronized leaning while aiming with ANY optic, enable the other option and disable this one.
## If this option is enabled, but `Disable synced lean while aiming?` is not enabled, sync behavior will default to always working.
# Setting type: Boolean
# Default value: false
Disable synced lean during optic ADS? = false

