## Settings file was created by plugin KeyTips v1.1.0
## Plugin GUID: spark.hiddenhiraigi.keytips

[Language / 语言]

## Change language (Configuration menu's requires game restart). / 更改语言（F12菜单需要重启游戏生效）。
# Setting type: String
# Default value: English
# Acceptable values: English, 简体中文
Language Opinion / 语言设置 = English

